<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ts_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".config.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dialog_promo"></activity>
        <activity android:name=".kasir.activity_dashboard_kasir" />
        <activity android:name=".activity_qr_profile" />
        <activity android:name=".activity_scan_voucher" />
        <activity android:name=".voucher.activity_my_voucher" />
        <activity android:name=".pelanggan.activity_profil" />
        <activity android:name=".pelanggan.activity_detail_voucher" />
        <activity android:name=".pelanggan.activity_voucher" />
        <activity android:name=".pelanggan.activity_detail_menu" />
        <activity android:name=".pelanggan.activity_detail_outlet" />
        <activity android:name=".pelanggan.acitivity_data_diri" />
        <activity
            android:name=".pelanggan.activity_tab_dashboard"
            android:label="@string/title_activity_tab_dashboard" />
        <activity android:name=".pelanggan.activity_dashboard" />
        <activity android:name=".pelanggan.activity_register" />
        <activity android:name=".activity_input_password" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_login" />
    </application>

</manifest>